<div class="title-bar">
<div class="rating-content">
	<span>Swag<span class="stars"></span></span>
	<span>Food<span class="stars"></span></span>
	<span>Prizes<span class="stars"></span></span>
	<span>Resources<span class="stars"></span></span>
	<span>Environment<span class="stars"></span></span>
</div>
</div>
