<div class="content">
<div class="event-window">
	<% @events.each do |event| %>
		<div class="event-banner">
			<div class="logo">
				<img src="http://placehold.it/100x100">
			</div>
			<div class="event-content">
				<h2 class="event-title"><%=event.name%></h2>
				<span class="fa star"><%= stars(event.rating) %></span>
			</div>
		</div>
	<% end %>
</div>
</div>
