<div class="content">
<div class="title-bar">
</div>
<div class="event-window">
	<% @organizations.each do |event| %>
		<div class="event-banner">
			<span class="event-content">
        <h2 class="event-title"><%=event.name%>
          <span class="fa"><%= stars(event.rating) %></span>
        </h2>
			</span>
		</div>
	<% end %>
</div>
</div>
